header {
    margin-top: 20px;
}
.jumbotron {
    background-color: #9d9d9d;
}

.heading {
    .text-hide();
}

.text {

}

body {
    margin: auto;
    border: 25px;
    padding-top: 50px;

}

footer {
    background-color: black;
    color: #cccccc;
    font-style: italic;
    margin-top: 40px;
    padding: 60px 0;
}

.container {
    max-width: 100%;
}
.content-box {
    background-color: #eb9316;
    border-style: groove;
    border-radius: 6px;
    padding: 10px 15px 15px;
    margin-bottom: 20px;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}