header {
    margin-top: 20px;
}

.jumbotron {
    background-color: #ffc18f;
}

body {
    background: #d3d1e8;
}

.navbar-header {
    background-color: #5e6fa0;
}


footer {
    background-color: #43558c;
    color: #a48163;
    font-style: italic;
    margin-top: 40px;
    padding: 60px 0;
}


.content-box {
    background-color: #43558c;
    border-style: groove;
    border-radius: 6px;
    padding: 10px 15px 15px ;
    margin-bottom: 20px;
}

b {
    font-family: 'Ropa Sans', sans-serif;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/

html { display: flex;}
body { width: 100%; }

.sfooter {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sfooter-content {
    flex: 1 0 auto;
}


/********************************************
* Non-Essential Page Styles
********************************************/

.grid {
    position: relative;
    clear: both;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}

figure.effect-valente figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top,  rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);)
background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}

figure.effect-valente h1 {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    color: #484c61;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
}

figure.effect-valente figcaption::before,
figure.effect-valente p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-valente p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
    color: white;
    text-shadow: 2px 2px #0f0f0f;
    font-size: 25px;
}

figure.effect-valente:hover h1 {
    color: white;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    padding-bottom: 50px;
    text-shadow: 2px 2px #0f0f0f;
}

figure.effect-valente:hover figcaption::before ,
figure.effect-valente:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.fa-github-alt,
.fa-linkedin,
.fa-twitter
{
    color: #fff;
}

td {
    letter-spacing: 1px;
    font-family: 'Ropa Sans', sans-serif;
}

.btn {
    margin-top: 10px;
    padding-top: 10px;
}

